################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FluentDynamics.QueryBuilder/bin/Debug/netstandard2.0
/FluentDynamics.QueryBuilder/obj
/FluentDynamics.Samples/bin/Debug
/FluentDynamics.Samples/obj
